<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcccul.dharendacredit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".product.ProductActivity" />
        <activity android:name=".product.ProductDetailsActivity" />
        <activity android:name=".loan.LoanActivity" />
        <activity android:name=".loan.LoanDetailsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".boardofdirectors.BoardofDirectorsActivity" />
        <activity android:name=".staff.StaffActivity" />
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".founder.FounderActivity" />
        <activity android:name=".menu.CulturalAcademyActivity" />
        <activity android:name=".menu.ContactUsActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>